@page "/"

<PageTitle>Lock Escape</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-center w-100 h-75">
    <div class="row d-flex flex-wrap g-2">
        <div class="col-lg-4 col-md-12">
            <div class="card border-primary bg-primary rounded-0">
                <div class="card-header text-center">
                    <h4 class="text-white mb-0">Students</h4>
                </div>
                <div class="card-body d-flex justify-content-center text-white bg-white">
                    <a class="btn btn-primary" href="scan" role="button">Scan a QR Code</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card border-success bg-success rounded-0">
                <div class="card-header text-center">
                    <h4 class="text-white mb-0">Teachers</h4>
                </div>
                <div class="card-body d-flex justify-content-center text-white container bg-white">
                    <div class="row d-flex flex-wrap gx-2 g-2">
                        <div class="col">
                            <a class="btn btn-success" href="create" role="button">Create new game</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-success" href="#" role="button">Edit game</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>