@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

@page "/scan"

<PageTitle>Lock Escape</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-center w-100">
    <div class="row d-flex flex-wrap">
        <div class="col">
            <div class="card border-primary bg-primary rounded-0">
                <div class="card-header text-center">
                    <h4 class="text-white mb-0">
                        @if (_shouldGoToEditPage)
                        {
                            @("Scan the QR code you created!")
                        }
                        else
                        {
                            @("Scan QR code from your teacher!")
                        }
                    </h4>
                </div>
                <div class="card-body text-white bg-white text-center">
                    <video id="video" width="300px" height="400px"></video>
                    <a class="btn btn-primary d-block w-auto" href="#" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private bool _shouldGoToEditPage;

    protected override async Task OnInitializedAsync()
    {
        _shouldGoToEditPage = false;
        NavigationManager.TryGetQueryString("edit", out string shouldGoToEditPageString);
        if (bool.TryParse(shouldGoToEditPageString, out var shouldGoToEditPageBool))
        {
            _shouldGoToEditPage = shouldGoToEditPageBool;
        }

        await JsRuntime.InvokeVoidAsync("scan", _shouldGoToEditPage);
    }
}