@inject IJSRuntime JsRuntime

@page "/scan"

<PageTitle>Lock Escape</PageTitle>

<div class="container-fluid d-flex justify-content-center align-items-center w-100">
    <div class="row d-flex flex-wrap">
        <div class="col">
            <div class="card border-primary bg-primary rounded-0">
                <div class="card-header text-center">
                    <h4 class="text-white mb-0">Scan QR code from your teacher!</h4>
                </div>
                <div class="card-body text-white bg-white text-center">
                    <video id="video" width="300px" height="400px"></video>
                    <a class="btn btn-primary d-block w-auto" href="#" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("scan");
    }
}