@inherits LayoutComponentBase

<div class="page ">
    <main>
        <div class="px-4 bg-primary text-center">
            <h2 class="text-white p-2">Lock Escape</h2>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>